/* HARD RESET // BRUTALIST BASE */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: var(--bg-void);
    color: var(--text-main);
    font-family: var(--font-mono);
    font-size: 14px;
    line-height: 1.5;
    -webkit-font-smoothing: none;
    /* Crisp pixels */
    overflow: hidden;
    /* App-like feel */
}

/* Scrollbar Customization */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: var(--bg-grid);
}

::-webkit-scrollbar-thumb {
    background: var(--border-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
}

/* SELECTION */
::selection {
    background: var(--color-primary);
    color: var(--text-inv);
}
